# Compiled Java class files
*.class

# Build artifacts
/target/
*.jar
*.war
*.ear

# Log files
*.log

# IDE configuration files
.idea/
*.iml

# Environment variables file
# Contains secrets and should not be versioned.
.env
